.navbar-container {
    width: 100%;
    height: 40px;
    background-color: white;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.navbar {
    border-bottom: 1px solid lightgrey;
    width: 414px;
    background-color: #F4F1F9;
    background-color: #EEF9FC;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(  #DCF2F9, #E9E2F3);
    color: #4C3073;
}

.navbar-icons {
    display: flex;
    position: relative;
    margin-top: 9px;
}

.navbar-icons div {
    margin-left: 10px;
}

.navbar-dropdown {
    display: none;
    position: absolute;
    background-color: rgba($color: white, $alpha: 0.6);
    border: 1px solid lightgrey;
    top: 15px;
    right: 3px;
    width: 130px;
    border-radius: 8px;
    padding: 8px 8px 8px 0;
}

.navbar-icons:hover .navbar-dropdown {
    display: block;
}

.navbar-dropdown div {
    padding: 3px;
    border-radius: 5px;
}

.navbar-dropdown div:hover {
    cursor: pointer;
    background-color: #E9E3F2;
}

.navbar-icons:hover, .link-home:hover, .link-tasks:hover, .link-habits:hover {
    cursor: pointer;
}

.link-home, .link-tasks, .link-habits {
    height: 80%;
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 9px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navbar-icons {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing {
    background-color: white;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.tasksLocation, .habitsLocation {
    background-color: rgb(13,66,108);
    color: white;
}

.tasksLocation {
    background-color: rgb(9, 63,106);
}