$dashboard-width: 500px;

.dashboard-container{
    margin:0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#013A65, #D4C7E5);
    height:100vh;
    padding: 36px;

    .header {
      color: white;
      font-size: 24px;
      font-weight: 900;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      width: 100%;
      max-width: $dashboard-width;

      h1 {
        margin: 0;
      }

      .navbar-icons {
        margin: 0;

        .navbar-dropdown {
          top: 24px;
        }
      }
    }
}

.lifetime-petals {
  width: 100%;
  max-width: $dashboard-width;

  .petals-earned, .petals-used {
    color: white;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
}

.dashboard-container h2{
    font-size: 18px;
    color: white;
}

.rewards-options{
    display: flex;
    flex-direction: column;
    max-width: $dashboard-width;
    width: 100%;
    flex: 1 1 auto;
    
    h2{
        margin-bottom: 5px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}

.add-reward{
    padding: 5px;
    margin-right: 0px;
}

.add-reward:hover{
    // border-color: #cdc2e1;
    color: #a0a1c3;
    cursor: pointer;
}

.no-reward-message{
    color: white;
}

.rewards-list{
    border: 2px solid white; 
    padding: 8px;
    border-radius: 8px;
    overflow-y: auto; 
    flex: 1 1 auto;

    .rewards-use-item-container{
        background-color: lavender;

      &:first-child {
        margin-top: 0;
      }
    }

    .rewards-use-item-container:hover{
        background-color: rgb(200, 200, 240);
        cursor: pointer;
    }
}


.rewards-petal-use.reward-menu-item {
    background-color: inherit;
    border: 0px;
    font-size: 15px;
}

.rewards-petal-use.reward-menu-item:hover{
    color:#7856B3;
    cursor: default;
}





