.demo-container {
    width: 310px;
    background-color: white;
    border-radius: 12px;
    height: 80vh;
    border: 1px solid lightgrey;
    overflow-y: auto;
}

.demo-image {
    width: 280px;
    height: 180px;
    border: 1px solid lightgrey;
    margin: 0 auto;
}

.demo-title {
    margin: 10px; 
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.demo-prompt {
    margin: 5px 8px;
}

.demo-01 {
    background: url("../images/demo02.png");
    background-size: cover;
}

.demo-02 {
    background: url("../images/demo01.png");
    background-size: cover;
}
.demo-03 {
    background: url("../images/demo03.png");
    background-size: cover;
}
.demo-04 {
    background: url("../images/demo04.png");
    background-size: cover;
}
.demo-05 {
    background: url("../images/demo05.png");
    background-size: cover;
}
.demo-06 {
    background: url("../images/demo06.png");
    background-size: cover;
}
.demo-07 {
    background: url("../images/demo07.png");
    background-size: cover;
}
.demo-08 {
    background: url("../images/demo08.png");
    background-size: cover;
}
.demo-09 {
    background: url("../images/demo09.png");
    background-size: cover;
}
.demo-10 {
    background: url("../images/demo10.png");
    background-size: cover;
}
.demo-11 {
    background: url("../images/demo11.png");
    background-size: cover;
}
.demo-12 {
    background: url("../images/demo12.png");
    background-size: cover;
}
.demo-13 {
    background: url("../images/demo13.png");
    background-size: cover;
}
.demo-14 {
    background: url("../images/demo14.png");
    background-size: cover;
}

.demo-thankyou {
    color: grey;
    padding: 12px;
    font-size: 11px;
}