.habit-show-container{
    height: 100vh;
    position: fixed;  
    background-image: linear-gradient(#013A65, #D4C7E5);
}

.habit-show-top {
    align-items: center;
    border-bottom: lightgrey 1px solid;
    display: flex;
    justify-content: space-between;
}

.habit-show-main {
    border: 1px solid lightgray;
    margin: 20px 20px;
    font-size: 1em;
    font-family: sans-serif;
    color: lightgrey;
    border-radius: 4px;
    background-color: white;
}
.habit-show-top > .title {
    padding: 3% 20% 2% 7%;
    font-size: 20px;

}
.habit-show-top > i {
    margin-right: 10%;
}

.habit-show-middle.open {
    display: none;
}

.habit-show-middle, .description-edit.open {
    display: flex;
    flex-direction: column;
    border: lightgrey solid 1px;
    border-radius: 3px;
    padding: 3%;
    margin: 10%;
    height: 45%;
}

.hsm-top {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

.task-list {
    border: 2px lavender solid;
    border-radius: 8px;
    margin-left: 10%;
}

.task-list > .fa-times{
    float: right;
    margin: 2%;
}
.single-task {
    padding: 5px;
    margin: 2%;

}

.habit-show-bottom {
    margin-right: 10%;
}

.fa-plus {
    float: right;
    margin-right: 10%;
}
.habit-description {
    display: flex;
    flex-direction: column;
}
.habit-show-container {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    background-color: #93BBDC;
    background-color: #659ECD;
    background-image: linear-gradient( #D1E2F0, #3776A9);
}

// open the edit box
.description-edit.open {
    display: inline-block;
    width: 80%;
}

.description-edit-container {

    background: white;
    border-radius: 8px;
}

.dec-top > i {
    float: right;
}

.edit-description-input {
    font-size: 12px;
    border: none;
    width: 100%;
    height: 100px;
    border: solid lavender 1px;
    margin-top: 3px;
    padding: 3px;
    //border: solid red 2px;
}

.description-edit.cancel {
    width: 50%;
    text-align: center;
    background: lavenderblush;
}
