ul {
    list-style-type: none;
}

.habit-show-main {
    width: 310px;
    margin: 8px auto;
    border: 1px solid lightgray;
    font-size: 1em;
    font-family: sans-serif;
    border-radius: 4px;
    background: transparent;
}

.habit-description {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
    padding-bottom: 20px;
    background: rgba(255, 255, 255, 1);
}

.habit-show-container{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 40px;
}

.habit-show-top {
    align-items: center;
    border-bottom: lightgrey 1px solid;
    display: flex;
    justify-content: space-between;
}

.habit-show-main {
  max-width: 414px;
  border: 1px solid lightgray;
  margin: 0 auto;
  margin-top: 20px;
  height: 100%;
  font-size: 1em;
  font-family: sans-serif;
  color: lightgrey;
  border-radius: 4px;
}
.habit-show-top > .title, .title-edit {
    padding: 3% 20% 2% 7%;
    font-size: 20px;
    color: #4c3073;
    font-weight: bold;
    margin: 2%;
}
.habit-show-top > i {
    margin-right: 10%;
}

.habit-show-middle {
  display: block;
  border: 1px solid lavender;
  border-radius: 8px;
  padding: 3%;
  margin: 0 2rem;
  cursor: text;
  &.open {
    border-color: #4c3073;
  }
}

.edit-description-input {
   width:200px;
   overflow:auto;
   word-wrap:break-word;
}

.description, .edit-description-input, .edit-title-input {
  margin: 0;
  font-family: inherit;
  color: #4c3073;
}

.description, .edit-description-input {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;

  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.description-edit-container .edit-description-input, .edit-title-input {
  resize: none;
  border: none;
  outline: none;
}

.hsm-top, .hsb-top {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  margin: 0 2rem;

  i {
    margin: 0;
    cursor: pointer;
    
    &:hover {
      color: #4c3073;
    }
  }
}

.habit-show-bottom {
    max-height: 50vh;
    overflow-y: auto;
    //padding: 6%;
    margin-left: 4%;
}

.task-list {
  border: 1px solid lavender;
  padding: 2px;
  border-radius: 8px;
  margin: 0;
  cursor: pointer;
  &:nth-child(n + 2) {
    margin-top: 1rem;
  }

  .header {
    color: #4c3073;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .details {
    display: flex;
    justify-content: space-between;
  }
}

.task-list > .fa-times{
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
    
  &:hover {
    color: red;
  }
}

.single-task {
  margin: 1rem;

}

.habit-show-bottom {
  margin: 0 2rem;
  overflow-y: auto;
}


.fa-plus {
  float: right;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
    
  &:hover {
    color: #4c3073;
  }
}

.habit-show-container {
    width: 100%;
    background-color: #93BBDC;
    background-color: #659ECD;
    background-image: linear-gradient( #D1E2F0, #3776A9);
}

// open the edit box

.description-edit-container {
    background: white;
    border-radius: 8px;
}

.dec-top > i {
    float: right;
}

.description-edit.cancel {
    width: 50%;
    text-align: center;
    background: lavenderblush;
}


// delete modal button
.delete-confirm-btn {
  margin-left: 3%;
  border-radius: 8px;
  border: 0.8px lightgray solid;
}

.delete-habit-title {
  font-weight: 800;
}