.background-index-habit {
    background-image: linear-gradient(#013A65, #D4C7E5);
    margin-top: 14px;
    $bg-width: 414px;
    width: $bg-width;
    margin: 0 auto;
    position: fixed;
    left: calc(50% - #{$bg_width / 2 });
    height: 100vh;
}

.index-habit-container {
    width: 320px;
    max-height: 70vh;
    overflow-y: auto;
    // margin: 15px auto 10px auto;
    margin: 35px 10px 10px 50px;
}

.hit-container {
    background-color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 8px;
    position: relative;
}

.hit-title {
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin-bottom: 4px;
    color: black;
    overflow-wrap: break-word;
}

.hit-title > i {
    padding: 5px;
    border: 1px yellow solid;
}
.hit-container span {
    font-size: 13px;
    font-weight: 500;
    color: grey;
}

.show-habits-header {
    margin-top: 67px;
    text-align: center;
    color: white;
    position: relative;
}

.show-habits-header .instructions {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;

    // margin-bottom: -20px;
    position: absolute;
    left: 28%;
    top: 20px;
}

.delete-icon {
    position: absolute;
    top: 5px;
    right: 8px;
}

.delete-icon:hover, .add-icon:hover {
    cursor: pointer;
}

.add-icon {
    position: relative;
    color: white;
    top: -46px;
    right: 50px;
}