.petal-jar-container {
    height: 50vh;
    // border-bottom: 1px solid lightgrey;
    // width: 414px;
    margin: 0 auto;
    position: relative;
}

.landing-tasks-container {
  background-image: linear-gradient(#432D62, #62C6E4);
  height: 50vh;
  $task_width: 414px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
  
  display: flex;
  flex-direction: column;

  .tasks {
    overflow-y: auto;
    width: 100%;
    padding-bottom: 1rem;
  }
}

.label-primary-tasks {
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 20px;
    position: absolute;
    width: 100%;
    top: 20px;
}

.petal-jar-counter {
    position: absolute;
    bottom: 30px;
    $petal-length: 47px;
    left: calc(50% - #{$petal-length});
    border: 2px solid grey;
    padding: 1px 8px;
    border-radius: 8px;
    background-color: rgba($color: white, $alpha: 0.4);
    text-align: center;
    font-size: 12px;
    color: grey;
}

.petal-jar-counter:hover {
    cursor: pointer;
    border-color: #471F34;
    color: #471F34;
}

.redirect-add-habit {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: calc(50% + 9.5rem);
    color: white;
}

.redirect-add-habit i:hover {
    color: #DCD0DC;
} 

.ui.dropdown.filter-dropdown {
  position: absolute;
  top: 12px;
  left: calc(50% - 10.5rem);
  margin-top: 1rem;
  z-index: 1;
  color: white;

  i:hover {
    color: #DCD0DC;
  }
}

.message {
  color: white;
  margin: 0 auto;
  padding: 0 1rem;
}