.petal-jar-container {
    height: 50vh;
    // border-bottom: 1px solid lightgrey;
    // width: 414px;
    margin: 0 auto;
    position: relative;
}

.landing-tasks-container {
    background-color: #013A65;
    background-color: #19364D;
    background-color: #432D62;
    background-image: linear-gradient(#432D62, #D4C7E5);
    background-image: linear-gradient(#432D62, #62C6E4);
    height: 50vh;
    $task_width: 414px;
    width: $task_width;
    margin: 0 auto;
    position: fixed;
    left: calc(50% - #{$task_width / 2 });
    padding-top: 50px;
}

.label-primary-tasks {
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 20px;
    position: absolute;
    width: 100%;
    top: 20px;
}

.petal-jar-counter {
    position: absolute;
    bottom: 30px;
    $petal-length: 47px;
    left: calc(50% - #{$petal-length});
    border: 2px solid grey;
    padding: 1px 8px;
    border-radius: 8px;
    background-color: rgba($color: white, $alpha: 0.4);
    text-align: center;
    font-size: 12px;
    color: grey;
}

.petal-jar-counter:hover {
    cursor: pointer;
    border-color: #471F34;
    color: #471F34;
}

.redirect-add-habit {
    position: absolute;
    z-index: 1;
    top: 60px;
    right: -5px;
}

.redirect-add-habit i:hover {
    color: #DCD0DC;
} 