@keyframes hydrangea {
  0% {background: url("../images/a01.jpg"); background-size: contain; background-repeat: no-repeat; background-position: center bottom;}
  12% {background: url("../images/a02.jpg"); background-size: contain; background-repeat: no-repeat; background-position: center bottom;}
  24% {background: url("../images/a03.jpg"); background-size: contain; background-repeat: no-repeat; background-position: center bottom;}
  36% {background: url("../images/a04.jpg"); background-size: contain; background-repeat: no-repeat; background-position: center bottom;}
  48% {background: url("../images/a05.jpg"); background-size: contain; background-repeat: no-repeat; background-position: center bottom;}
  60% {background: url("../images/a06.jpg"); background-size: contain; background-repeat: no-repeat; background-position: center bottom;}
  100% {background: url("../images/a07.jpg"); background-size: contain; background-repeat: no-repeat; background-position: center bottom;}
}

.hydrangea {
  background: url("../images/a01.jpg");
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center bottom;
  width: auto;
  height: 100vh;
  text-align: center;
  padding-top: 20px;
  // transition: background 4s;
}

.animated {
  animation-name: hydrangea;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.hydrangea h1 {
  font-size: 32px;
  font-weight: 100;
  font-family: 'Concert One', cursive;
}

.main-buttons {
  $width: 250px;
  width: $width;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
  // background-color: #79AECD;
  background-color: rgba($color: white, $alpha: 0.4);
  border: 1px solid lightgray;
  // margin: 67vh auto 0 auto;
  position: fixed;
  bottom: 50px;
  left: calc(50% - #{ $width / 2 });
}