.rewards-use-container {
    max-height: 70vh;
    overflow-y: auto;
    width: 300px;
    min-height: 400px;
    border-radius: 12px;
    background-color: rgba($color: #F4F1F9, $alpha: 0.9);
    border: 2px solid #9B80C6;
    padding: 10px;
}

.rewards-use-label {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

img.petal {
    width: 25px;
    height: 25px;
}


.rewards-petal-use h3 {
    margin-top: 0px;
    line-height: 0px;
}

.rewards-use-petals {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.rewards-use-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid lightgrey;
    position: relative;
}

.rewards-petal-use, .reward-menu-item {
    background-color: #EEF9FC;
    border: 1px solid #BCABD9;
    border-radius: 8px;
    padding: 3px 8px;
    display: flex;
    align-items: center;
    color: #7856B3;
    color: #8D3F67;
}

.reward-menu-item > h3 {
    display: block;
    margin-top: 12px;
    margin-right: 5px;
}

.rewards-petal-use:hover {
    background-color: #BAE6F3;
    border: 1px solid #52BFE0;
    cursor: pointer;
    font-weight: 600;
    color: #18708B;
}

.rewards-create-button {
    background-color: white;
    padding: 1px 9px;
    font-size: 12px;
    width: 160px;
    margin: 2px auto 0 auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid lightgrey;
    color: grey;
}

.rewards-create-button:hover {
    cursor: pointer;
    color: #471F34;
    border: 1px solid #471F34;
}

.delete-rewards-button {
    position: absolute; 
    top: -2px;
    right: 5px;
    color: #8D3F67;
}