.column {
    border-radius: 12px;
    background-color: rgba($color: white, $alpha: 0.6);
    border: 1px solid lightgrey;
    // box-shadow: 3px 3px 3px 0px rgba(255,255,255,0.4);
}

.space {
    height: 13px;
}