ul {
  padding-inline-start: 0px;
}
//button big
.task-form {
  padding: 5%;
  width: 200px;
  //height: 200px;
  border-radius: 12px; 
  background-color: rgba($color: #F4F1F9, $alpha: 0.9);
  border: 2px solid #9B80C6;
  // background: lavender;
  // border: lavender 1px solid;
  box-shadow:0 3px 9px rgba(0,0,0,0.5);

}

.task-form > * {
  padding: 3%;
}

// .task-form-top {
//   display: flex;
//   justify-content: space-between;
// }

.task-form-top {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  border-bottom: 1px solid white;
  text-align: center;
  //border: 3px red solid;
  margin-bottom: 10px;
}

.task-form-top > .fa-times{
  float: right;
  font-size: 10x;
  top: 10%;
}

.task-form-num-input > input, .task-form-petal-cnt > input {
  width: 40%;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 8px;
}

.task-form-petal-cnt > input {
  width: 50%;
}
.task-form-petal-cnt {
  display: flex;
  justify-content: space-between;
}

.get-new-task-modal {
  width: 100%;
  border: 0.5px lightgray solid;
  border-radius: 5px;
  padding: 5px;
}

.task-form-num-input > #frq-slct {
  border: 0.5px solid lightgray;
  border-radius: 5px;
  color: gray;
  padding: 5px;
  width: 58%;

}

.submit-btn > button {
  border: 0.5px solid #9B80C6;
  border-radius: 8px;
  padding: 8px;
  color: #9B80C6;
  margin-left: 55px;
  background: transparent;
}

.submit-btn > button:hover {
  color: #9B80C6;
  border: 2px solid #9B80C6;
}
