main {
    background: url(https://i.ibb.co/YQ8P138/001.jpg);
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}
/* 
<img src="https://i.ibb.co/58TTjzP/005.jpg" alt="005" border="0">
<img src="https://i.ibb.co/5xQ1msq/007.jpg" alt="007" border="0">
<img src="https://i.ibb.co/BPcG4Hc/002.jpg" alt="002" border="0">
<img src="https://i.ibb.co/kMJ0vxD/003.jpg" alt="003" border="0">
<img src="https://i.ibb.co/zX17F8b/004.jpg" alt="004" border="0">
<img src="https://i.ibb.co/YQ8P138/001.jpg" alt="001" border="0">
<img src="https://i.ibb.co/h8Znwvy/006.jpg" alt="006" border="0"> */